<h1>Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> ({{this.code}}) - ${{this.price}} <br>
      
    </li>
      <small>{{this.description}}</small>
  {{/each}}
</ul>